.auth-panel {
    position: relative;
    z-index: 5;
}

.auth-form-container {
    position: relative;
    z-index: 4;
    transition: transform 0.7s ease-in-out;
}

.auth-form-container.active {
    transform: translateX(-100%);
}
